
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>LEZZETLİ GIDALAR | Yönetim</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"><font face="Arial" color="white" size="6">LEZZETLİ</font><font face="Arial" color="#FF7F00" size="6"> GIDALAR</font></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Category/Index">Kategoriler</a></li>
                <li><a href="/Food/Index">Ürünler</a></li>
                <li><a href="#">Google Pasta Grafiği</a></li>
                <li><a href="#">Google Sütun Grafiği</a></li>
                <li><a href="#">Google Dinamik Grafik</a></li>
                <li><a href="#">İstatistikler</a></li>
                <li><a href="#">Ayarlar</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Çıkış Yap</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>

